
div {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
}

.box2{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
}
.box3{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}